<div class="scrape-page-bg">

    <div class="container">

        <div class="row">
            <div class="col s12 m12">
                <div class="scrape-page-header black-text center">Mongo Eventhubs.com</div>
                <div class="scrape-page-header2 black-text center">News Scraper</div>
            </div>
        </div>

        {{#each articles}} {{#unless this.saved}}
        <div class="row">
            <div class="col s12 m12">
                <div class="card">
                    <div class="card-panel teal">
                        <span class="white-text teal">
                            <a href={{this.link}}><h5>{{this.title}}</h5></a>
                        </span>
                    </div>
                    <div class="card-panel white">
                        <span class="black-text white">
                            <ul>
                                <li>
                                    <h5>Description</h5>
                                </li>
                                <li>{{this.description}}</li>
                            </ul>
                        </span>
                    </div>
                </div>
            </div>
        </div>
        {{/unless}} {{/each}}

    </div>

</div>